<div class="bg-all">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a class="navbar-brand" href="#">
      <span class="navbar-social">Social</span>
      <span class="navbar-network">Network</span>
    </a>
    </div>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="col-xl-9 col-lg-8 col-md-12 col-sm-8 col-xs-8 m-0 p-0 nav-menu row" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 col-xl-5 col-lg-7 col-md-8 col-sm-5 col-xs-8 p-0">
        <div class="input-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-4 p-0 ">
          <input type="text" class="form-control input-search" placeholder="Find...">
          <div class="input-group-append">
            <button class="btn btn-secondary btn-search" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <div class="form-inline my-2 my-lg-0 m-0 p-0 col-md-5">
      <button class="btn btn-light btn-upload "><i class="fa fa-upload icon-header"></i>Upload</button>
        <div class="btn btn-light btn-user"> <i class="fa fa-user icon-header"></i></div>
        <div class="text-user">
          <p class="text-user-login-big">Waseem</p>
          <p class="text-user-login">Arshad</p>
        </div>
      </div>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-lg  navbar-light bg-light row">
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a class="navbar-brand text-navbar" href="#">
      <span class="navbar-social">Social</span>
      <span class="navbar-network">Network</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   </div> -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse row col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8" id="navbarTogglerDemo02">
      <form class="form-inline my-2 my-lg-0 col-xl-8 col-lg-7 col-md-6 col-sm-5 col-xs-8 p-0">
        <div class="input-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-4 p-0 ">
          <input type="text" class="form-control input-search" placeholder="Find...">
          <div class="input-group-append">
            <button class="btn btn-secondary btn-search" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <button class="btn btn-light btn-upload "><i class="fa fa-upload icon-header"></i>Upload</button>
      <div class="btn btn-light btn-user"> <i class="fa fa-user icon-header"></i></div>
      <div class="text-user">
        <p class="text-user-login-big">Waseem</p>
        <p  class="text-user-login">Arshad</p>
      </div>
    </div>
  </nav> -->
  <div class="header-menu ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-header">
        <li class="breadcrumb-item">Video</li>
        <li class="breadcrumb-item">Populer</li>
        <li class="breadcrumb-item">Documents</li>
        <li class="breadcrumb-item">Event</li>
        <li class="breadcrumb-item">Communities</li>
        <li class="breadcrumb-item">Favorites</li>
        <li class="breadcrumb-item">Channels</li>
      </ol>
    </nav>
  </div>

  <div class="">
    <div class="row box-people">
      <div class="col-md-8">
        <div class="col-md-8">
          <span class="text-sub">Video</span>
          <span class="text-sub-right">Browse all videos</span>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div *ngFor="let video of dataVideos;let i = index">
              <div *ngIf="i==0" class="position-relative">
                <img src="{{video.image}}" alt="" class="img-big-video">
                <div class="text-block-big">
                  <h4 class="text-title-video">{{video.title}}</h4>
                  <span class="text-author">{{video.author}}</span>
                  <p class="text-views"> {{video.viewer}} Views</p>
                </div>
              </div>
            </div>
            <div class="row box-image-small margin-left-15 pr-0">
              <div *ngFor="let video of dataVideos;let x = index" class="col-md-6 m-0 pr-0">
                <div *ngIf="x == 4 || x == 5" class="position-relative">
                  <img src="{{video.image}}" alt="" class="img-small">
                  <div class="text-block-small">
                    <span class="text-author">{{video.author}}</span>
                    <p class="text-views"> {{video.viewer}} Views</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 box-image-small">
            <div *ngFor="let video of dataVideos;let j = index">
              <div *ngIf="j == 1 || j == 2" class="position-relative">
                <img src="{{video.image}}" alt="" class="img-small">
                <div class="text-block-small">
                  <span class="text-author">{{video.author}}</span>
                  <p class="text-views"> {{video.viewer}} Views</p>
                </div>
              </div>
            </div>
            <div class="box-upload">
              <div class="row box-upload-val">
                <i class="fa fa-arrow-circle-up icon-download"></i>
                <div class="text-download"><span>Upload</span>
                  <p>Your Our Video</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <span class="text-sub-activity col-md-2">Activity</span>
          <span class="col-md-10 p-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-activity">
                <li class="breadcrumb-item">View Timeline</li>
                <li class="breadcrumb-item">Filter Activities</li>
              </ol>
            </nav>
          </span>
        </div>
        <hr class="hr-top">
        <div *ngFor="let activity of dataVideos">
          <div class="row box-activity">
            <div class="col-md-3">
              <img src="{{activity.image}}" alt="" class="img-activity">
            </div>
            <div class="col-md-9 pl-4">
              <span class="author-activity">{{activity.author}}</span>
              <small class="text-small"> {{activity.type}}</small>
              <p class="title-activity">{{activity.title}}</p>
              <small class="text-small"><i class="fa fa-{{activity.type}}"></i> {{activity.timeline}} ago</small>
            </div>
          </div>
        </div>
        <hr class="margin-top-15 hr-bottom">
      </div>
    </div>
  </div>
  <div class="row box-people">
    <div class="col-md-8">
      <div class="">
        <div class="col-md-8">
          <span class="text-sub">People</span>
          <span class="text-sub-right">View all</span>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div *ngFor="let video of dataVideos;let i = index">
              <div *ngIf="i==0" class="position-relative">
                <img src="{{video.image}}" alt="" class="img-big-video">
                <div class="text-block-big">
                  <h4 class="text-title-video">{{video.title}}</h4>
                  <span class="text-author">{{video.author}}</span>
                  <p class="text-views"> {{video.viewer}} Views</p>
                </div>
              </div>
            </div>
            <div class="row box-image-small margin-left-15 pr-0">
              <div *ngFor="let video of dataVideos;let x = index" class="col-md-6 m-0 pr-0">
                <div *ngIf="x == 4 || x == 5" class="position-relative">
                  <img src="{{video.image}}" alt="" class="img-small">
                  <div class="text-block-small">
                    <span class="text-author">{{video.author}}</span>
                    <p class="text-views"> {{video.viewer}} Views</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 box-image-small">
            <div *ngFor="let video of dataVideos;let j = index">
              <div *ngIf="j == 1 || j == 2" class="position-relative">
                <img src="{{video.image}}" alt="" class="img-small">
                <div class="text-block-small">
                  <span class="text-author">{{video.author}}</span>
                  <p class="text-views"> {{video.viewer}} Views</p>
                </div>
              </div>
            </div>
            <div class="box-upload">
              <div class="row box-upload-val">
                <i class="fa fa-dot-circle icon-download"></i>
                <div class="text-download"><span>Upload</span>
                  <p>Your Our Video</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-people">
        <div class="grid-document">
          <div class="col-md-8">
            <span class="text-sub">Documents</span>
            <span class="text-sub-right">Browse all documents</span>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div *ngFor="let video of dataVideos;let i = index">
                <div *ngIf="i==0" class="position-relative">
                  <img src="{{video.image}}" alt="" class="img-big-video">
                  <div class="text-block-big">
                    <h4 class="text-title-video">{{video.title}}</h4>
                    <span class="text-author">{{video.author}}</span>
                    <p class="text-views"> {{video.viewer}} Views</p>
                  </div>
                </div>
              </div>
              <div class="row box-image-small margin-left-15 pr-0">
                <div *ngFor="let video of dataVideos;let x = index" class="col-md-6 m-0 pr-0">
                  <div *ngIf="x == 4 || x == 5" class="position-relative">
                    <img src="{{video.image}}" alt="" class="img-small">
                    <div class="text-block-small">
                      <span class="text-author">{{video.author}}</span>
                      <p class="text-views"> {{video.viewer}} Views</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 box-image-small">
              <div *ngFor="let video of dataVideos;let j = index">
                <div *ngIf="j == 1 || j == 2" class="position-relative">
                  <img src="{{video.image}}" alt="" class="img-small">
                  <div class="text-block-small">
                    <span class="text-author">{{video.author}}</span>
                    <p class="text-views"> {{video.viewer}} Views</p>
                  </div>
                </div>
              </div>
              <div class="box-upload">
                <div class="row box-upload-val">
                  <i class="fa fa-plus-circle icon-download"></i>
                  <div class="text-download"><span>Upload</span>
                    <p>Your Our Video</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-channel">
      <div class="">
        <span class="text-sub">Channels</span>
        <span class="text-sub-right-channel"> Browse all channels</span>
      </div>
      <hr class="hr-top">
      <div class="row col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
        <div *ngFor="let channels of dataChannel;let i = index" class="col-md-6 box-channel ">
          <img src="{{channels.image}}" alt="" class="img-channels">
          <div class="text-channel">{{channels.name}}</div>
        </div>
      </div>
      <hr class="hr-bottom">
    </div>
  </div>

  <footer>
    <hr class="hr-bottom">
    <div class="icon-footer"><i class="fa fa-facebook m-auto "></i></div>
    <div class="icon-footer"><i class="fa fa-twitter m-auto"></i></div>
    <div class="icon-footer"><i class="fa fa-linkedin m-auto"></i></div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-footer-above">
        <li class="breadcrumb-item">About</li>
        <li class="breadcrumb-item">For Business</li>
        <li class="breadcrumb-item">Suggestios</li>
        <li class="breadcrumb-item">Help & FAQs</li>
        <li class="breadcrumb-item">Contact</li>
        <li class="breadcrumb-item">Pricing</li>
      </ol>
    </nav>
    <span class="text-copyright">@Copyright 2013 social Network.</span>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-footer-under">
        <li class="breadcrumb-item">Privacy</li>
        <li class="breadcrumb-item">Term</li>
      </ol>
    </nav>
  </footer>
</div>